body{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--font);
    line-height: 1.8rem;
    letter-spacing: 0.05rem;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
}