<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap" rel="stylesheet">

<div class="container">
    <div class="content__box">
        <ul class="bread__crumbs">
            <ul class="bread__crumbs">
                <li>Home</li>
                <li>Settings</li>
                <li>Master JSON</li>
            </ul>
        </ul>
        <div class="col__xl">
            <div class="full__screen">
                <div class="inner__page__heading">
                    <h2>Settings</h2>
                    <a [routerLink]="['/settings']"><button><img src="/assets/icons/back.svg" alt="add">
                            Back</button></a>
                </div>
                <div class="row">
                    <div class="screen__2-3 defination">
                        <div class="defination">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox">
                                        </th>
                                        <th>Key Name</th>
                                        <th>Data Type</th>
                                        <th>Onnet Generated</th>
                                        <th>Nested</th>
                                        <th>Parent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox"></td>
                                        <td><input type="text"></td>
                                        <td>
                                            <select>
                                                <option value="String">String</option>
                                                <option value="Boolean">Boolean</option>
                                                <option value="Date">Date</option>
                                                <option value="EPOCH">EPOCH</option>
                                                <option value="List">Array</option>
                                                <option value="Object">Object</option>
                                                <option value="Number">Number</option>
                                            </select>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <select>
                                                <option value="1">1</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="third__screen preview">
                        <h4>Preview</h4>
                        <pre>
                            <code>
                                {{codeSnippet}}
                            </code>
                        </pre>

                    </div>
                </div>
                <div class="button__group">
                    <a [routerLink]="['/pack']"><button><img alt="cancel" src="/assets/icons/close-fill.svg">
                            Cancel</button></a>
                    <button class="cta"><img src="/assets/icons/save.svg" alt="cancel"> Update</button>
                </div>
            </div>

        </div>
    </div>
</div>